@charset "ISO-8859-1";
body {
            background-color: #f5f7fa;
        }
        .sidebar {
            height: 100vh;
            background-color: #2e7d32;
            color: white;
        }
        .sidebar a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px;
        }
        .sidebar a:hover {
            background-color: #1b5e20;
        }
        .card:hover {
            transform: scale(1.03);
            transition: 0.3s;
        }
